body {
  background-color: #fff;
  color: #262626;
  font-size: 14px;
  line-height: 18px;
}

header {
  height: 117px;
  background-color: blue;
}

main {
  background-color: green;
  padding-top: 60px;
}

.card-list {
  background-color: yellow;
  max-width: 614px;
  margin: 0 auto;
}

.card-wrapper {
  height: 400px;
  background-color: red;
  margin-bottom: 32px;
}

