body {
  height: 100%;
  background-color: var(--body-bg-color);
  color: var(--main-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--header-border-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: .9
}

header .icon {
  margin: 0 16px;
  cursor: pointer;
  position: relative;
}

header .icon:hover svg {
  fill-opacity: 0.5;
}

header .icon:before {
  content: '你好';
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  font-size: 12px;
  text-align: center;
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  padding: 4px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

header .icon[data-text="home"].icon:before {
  content: '首頁';
}

header .icon[data-text="message"].icon:before {
  content: '訊息';
}

header .icon[data-text="explore"].icon:before {
  content: '探索';
}

header .icon[data-text="likes"].icon:before {
  content: '珍藏';
}

header .icon:hover.icon:before {
  opacity: 1;
}

main {
  background-color: var(--content-bg-color);
  padding-top: 60px;
  margin-top: 54px;
}

.card-list {
  width: 100%;
  max-width: 614px;
  margin: 0 auto;
}

.card-wrapper {
  margin-bottom: 32px;
  border: 1px solid var(--card-border-color);
  border-radius: 3px;
  background-color: var(--card-bg-color);
}

.card-wrapper:last-child {
  margin-bottom: 0;
}

.card-wrapper a {
  color: var(--main-text-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.card-wrapper a.mention,
.card-wrapper a.hashtag {
  color: var(--hashtag-text-color);
  font-weight: normal;
}


.card-wrapper .header {
  display: flex;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
}

.card-wrapper .header .desc{
  margin-left: 16px;
}

.card-wrapper .header .title{
  font-weight: bold;
}

.card-wrapper .header .avatar{
  width: 32px;
  height: 32px;
}

.card-wrapper .header img{
  border-radius: 50%;
}

.card-wrapper .header .options{
  position: absolute;
  top: 0;
  right: 16px;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card-wrapper .actions {
  margin-top: 4px;
  padding: 0 16px;
  display: flex;
}

.card-wrapper .actions .action-icon button {
  border: 0;
  background: 0 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-wrapper .actions .action-icon:hover svg {
  fill-opacity: 0.5;
}

.card-wrapper .actions .action-icon:first-child {
  margin-left: -8px;
}

.card-wrapper .actions .action-icon:last-child {
  margin-left: auto;
  margin-right: -8px;
}

.card-wrapper .bottom {
}

.card-wrapper .bottom section {
  padding: 0 16px;
}

.card-wrapper .likes {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.card-wrapper .likes .liked-by {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.card-wrapper .likes .liked-by img {
  border-radius: 50%;
}

.card-wrapper .bottom .content{
  margin-bottom: 8px;
}

.card-wrapper .bottom .times {
  color: var(--times-text-color);
  margin: 4px 0;
  text-transform: uppercase;
}

.card-wrapper .bottom .times time {
  letter-spacing: .2;
  font-size: 10px;
}

.card-wrapper .bottom .add-comment {
  border-top: 1px solid var(--comment-border-color);
  display: flex;
  align-items: center;
  height: 56px;
  line-height: 18px;
}

.card-wrapper .bottom input {
  border: 0;
  height: 18px;
  width: 100%;
  color: var(--main-text-color);
}
